h1, h2, h3 {
  padding-top: 20px;
}

h1 {
  color: maroon;
}

title {
  display: block;
  font-size: 4em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: maroon;
  padding-top: 20px;
}

blockquote {
  margin-left: 20px;
  font-style: italic;
  font-size: larger;
}

.pretitle {
  background-color: cadetblue;
  padding: 10px;
  color: whitesmoke;
}

pre {
  background-color: oldlace;
  padding: 10px;
  color: black;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px 30px;
  text-align: right;
}

table {
  margin: 10px 0px;
}

th {
  font-size: larger;
}

.nested-ul {
  display: none; /* Initially hide nested ULs */
  margin-left: 0px; /* Reduce indentation by half */
  padding-left: 0rem; /* Override Bootstrap's default padding */
  font-weight: normal;
}

.expandable {
  cursor: pointer; /* Indicate it's clickable */
  font-weight: bolder;
}

.expandable::before {
  content: "+ "; /* Initial state: closed */
  font-weight: bold;
  margin-right: 5px;
}

.expanded::before {
  content: "- "; /* Expanded state: open */
}